# Python cache and compiled files
__pycache__/
*.pyc

# Environment & secrets
.env
.venv/
venv/

# Test cache
.pytest_cache/

# OS files
.DS_Store

# Optional local folders
/private/
# remove next two lines if you want to track these folders in GitHub
/models/
/assets/

